# This is absolutely not finished and just copied from different sources
notifications:
email: false

language: python
python:
#  - "2.6"
#  - "2.7"
#  - "3.2"
#  - "3.3"
#  - "3.4"
  - "3.5"
#  - "3.5-dev" # 3.5 development branch
#  - "3.6"
#  - "3.6-dev" # 3.6 development branch
#  - "3.7-dev" # 3.7 development branch
#  - "nightly" # currently points to 3.7-dev

# command to install dependencies
install:
  - pip install -e .
  - pip install -r requirements.txt
  - py.test --cov=geoget --cov-report term-missing

# command to run tests
script: py.test