*.py[cod]
__pycache__

# PyCharm stuff
.idea/

# coverage stuff
.coverage

# Notebook stuff
examples/*checkpoints
.ipynb_checkpoints

# Packages
*.egg
*.egg-info
eggs

# specific
geoget/tests/tmp_*
*.lock
*.html
docs/*-gen.rst
docs/_build
docs/_build_html
docs/generated
docs/_sources
docs/_images
docs/.doctrees
geoget/version.py
*.credentials